<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12 mt-3">
                <h1 style="text-align: center;">Registro de tus futuras visitas</h1>

                <div>

                  
                    <a href="/" class="btn btn-success">Ir al inicio</a>
                    <a href="/visita/prueba/" class="btn btn-success">Regresar al atras</a>

                    {% for e in object_list %}
                    <div class="col-12">
                        <div style="text-align: center;">
                            <ul class="list-group">
                                <li class="list-group-item" style="background-color: bisque; color:red;"></li>
                                <li class="list-group-item">Dni: <b>{{e.dni_visita}}</b></li>
                                <li class="list-group-item">Nombre: <b>{{e.nombre_visita}}</b> </li>
                                <li class="list-group-item">Apellido: <b>{{e.apellido_visita}}</b> </li>
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>

        </div>


        </html>

        <style>
            div[class|="col"] {
                border: 1px solid #ffc107;
            }
        </style>