<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 mt-3">
    
                <form method="GET">
    
                </form>
                <h1 style="text-align: center;">Trabajos de mantenimiento del edificio</h1>
                <h5 class="mt-2" style="text-align: left;">Para reservar registrar algún trabajo sobre su departamento presione aquí:
                    <a href="/mantenimiento/crear-mantenimiento/" class="btn btn-success">Registrar mantenimiento</a>
                </h5>
                <h5 class="mt-2" style="text-align: left;">Para tu lista de mantenimientos presione aquí :
                    <a href="/mantenimiento/mis-mantenimientos" class="btn btn-success">Mis mantenimientos</a>
                </h5>
                <div>
                    <h3>Lista de mantenimientos</h3>
    
                </div>
    
                <div style="position: relative; text-align: center;">
    
    
                    <a href="/mantenimiento/lista-mantenimiento/Usuarios" class="btn btn-danger">Usuarios</a>
                    <a href="/mantenimiento/lista-mantenimiento/Administracion" class="btn btn-danger">Administracion</a>
                 
                </div>
                {% if object_list == 1 %}
                
                <h1 style="margin-left: 230px; color: red; margin-top: 150px;">No hay mantenimientos pendientes en el edificio</h1>
                {% else %}
                    {% for e in object_list %}
                    <div class="col-12">
                    
                        <div style="text-align: center;">
                            <ul class="list-group">
                                <li class="list-group-item" style="background-color: bisque; color:red;">{{e.dia_mantenimiento}}</li>
                                <li class="list-group-item">Nro trababajadores: {{e.nro_trabajadores}}</li>
                                <li class="list-group-item">Hora: {{e.hora_mantenimiento}}:00 </li>
                                <li class="list-group-item">Descripción: {{e.descripcion}}</li>
                                <li class="list-group-item">departamento: {{e.nro_departamento}}</li>
                                <li class="list-group-item">usuario: {{e.usuario}}</li>
                                <!-- <form method="GET"> {% csrf_token %}
                                    <a href="/mantenimiento/add_trabajadores/{{e.id}}" class="btn btn-success">Registrar trabajadores</a>
                                    <a href="/mantenimiento/detalles/{{e.id}}" class="btn btn-success">Detalles de trabajadores</a>
                                </form> -->
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
    
        </div>
    
    </div>

</body>
</html>